.img-container {
    height: 300px; 
    overflow: hidden;
    position: relative;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 2s linear;
    width: 100%;
    height: full;
}

.img-container:hover img {
    transform: translateY(-66%); 
}

